<div class="container">
  <p>
    <a href="pharmacy-list">Pharmacy list</a><br/>
    <a href="myprofile">My profile</a><br/>
    <a href="myexaminationschedule">My examination schedule</a><br/>
    <a href="mycounselingschedule">My counseling schedule</a><br/>
    <a href="pharmacy-list">Schedule examination</a><br/>

    <a href="schedulingcounseling">Schedule counseling</a><br/>
    <a href="medicinereservationlist">List of reserved medicines</a><br/>
    <a href="examhistorylist">History of my examinations</a><br/>
    <a href="counhistorylist">History of my counselings</a><br/>
    <a href="writecomplaint">Write a complaint</a><br/>
  </p>
</div>